html, body{
    height: 100%;/*Altura*/
    margin: 0;/*Margen*/
    padding: 0;/*Relleno*/
}
body{
    font-family: "Poppins";/*Estilo de letras*/
    overflow: hidden;/*Desborde Oculto*/
}
.slide{
    display: flex;/*Mostrar */
    justify-content: center;/*Centrar letras*/
    align-items: center;/*Centrar letras*/
    flex-wrap: wrap;/*Multi linea*/
    flex-direction: column;/*Felxible de columnas*/
    width: 100%;/*Anchura*/
    height: 100%;
}

.card {
    width: 100%;
    height: 100vh;/* ejemplo cuando queremos tener una imagen de fondo que ocupe todo el ancho y alto de nuestro pantalla*/
    display: flex;
    background: #fff;

}
.card-img{
    background-position: center;
    width: 50%;/*Anchura de la imagen*/
    height: 100%;/*Altura de la imagen*/
    background-size: cover;/*especifica el tamaño de las imágenes de fondo.*/
    background-repeat: no-repeat;/*La imagen de fondo solo se muestra una vez.*/
}
#img01{
    background-image: url("https://cdn.pixabay.com/photo/2019/09/08/15/08/owl-4461236_960_720.jpg")
}
#img02{
    background-image: url("https://cdn.pixabay.com/photo/2017/02/19/16/01/mountaineer-2080138_960_720.jpg")
}
#img03{
    background-image: url("https://cdn.pixabay.com/photo/2018/02/17/22/15/water-3161063_960_720.jpg")
}

.card-content{
    padding: 10% 5%;
    box-sizing: border-box;
    width: 50%;
    background: #0A0A0A;

}
.card-theme{
    font-weight: 900;/*Peso de texto.*/
    font-size: 1.7vmin;/*Tamaño de texto.*/
    text-transform: uppercase;
    font-family: Poppins;
    letter-spacing: 10px;/*Espacio de letras*/
    color: grey;
}
.card-header{
    font-weight: 700;/*Peso de texto.*/
    font-size: 70px;/*Tamaño de texto.*/
    text-transform: capitalize;
    line-height: 1;
    margin: 3vmin 0 3.5vmin;
    color: #fff;
    font-family: Poppins;

}
.card-para{
    font-size: 1.6vmin;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 2.5vmin;
    color: #fff;
    font-family: Poppins;

}
.card-link{
    color: #fff;
    font-family: Poppins;
    font-size: 1.8vmin;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease; 
}
.card-link:after {
    content: "->";
}

.prevnext{
    position: absolute;
    width: 4vmin;
    height: 8vmin;
    right: 2%;
    bottom: 0;
    top:80%;
    color: #fff;
    margin: auto 0;
}
.pn-btn{
    color: #fff;
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    font-size: 20px;

}

#prev, #next{
    position: relative;
    cursor: pointer;

}
#prev:focus, #next:focus{
    outline: none;

}
#prev:hover:after, #next:hover:after{
    opacity: 1;
}
#prev:after, #next:after{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;

}
#prev:after{
    content: "Prev";
}
#next:after{
    content: "Next";
}





/*Boton con style css*/
a.button {
    position: relative;
    display: inline-block;
    width: 25.6em;
    height: 6.3em;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
    text-decoration: none;
    line-height: 3em;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  a.button svg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  a.button svg g line,
  a.button svg g polyline,
  a.button svg g circle {
    fill: none;
    stroke: #fff;
  }
  a.button svg g line,
  a.button svg g polyline {
    stroke-miterlimit: 10;
  }
  a.button svg g circle {
    display: block;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.066em;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset ease-out 0.5s;
  }
  a.button font {
    z-index: 2;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
  }
  a.button:hover {
    -webkit-transform: translateZ(0) translateX(0.5em);
            transform: translateZ(0) translateX(0.5em);
  }
  a.button:hover svg g circle {
    stroke-dashoffset: 200;
  }